extends layout

block content
   input#search(type="search", placeholder="Search products")
   p
   h2#results 
   p name: 
   #name
   p sku: 
   #sku
   p type: #{type}
   p price: #{price}
   p upc: #{upc}
   p shipping: #{shipping}
   p description: #{description}
   p manufacturer: #{manufacturer}
   p model: #{model}
   p url: #{url}
   p image: #{image}
   script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
   script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
   script(src="/javascripts/main.js")
